.main {
    width: 100%;
    min-height: 800px;
    background: grey;
    float: left;

    display: flex;
    /* justify-content:space-evenly; */
    /* align-items: center; */
    /* flex-wrap:wrap-reverse; */
    /* flex-direction: row-reverse; */
    /* justify-content: flex-end; */

    gap: 10px;
}

.demo {
    width: 200px;
    height: 200px;
    background: blue;
    color: white;
    float: left;
    margin: 5px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;


}




/* width */
::-webkit-scrollbar {
    width: 50px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: url('https://www.sistemsanayibicaklari.com/ru/images/arrow.gif');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: url('https://i.pinimg.com/736x/a9/e8/c4/a9e8c433a4dab17038a7860adc2ed83c.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}